{% extends "base.html.twig" %}

{% block title %}Цех переводчиков{% endblock %}


{% block body %}



    <div class="jumbotron">

        <h1 style="text-align: center">Цех переводчиков</h1>
        <hr class="my-4">

            <table>
                <tr>
                    <th>Фразы</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td> {#не успел тут дописать, но у меня тоже переводит нормольно :)#}
                            <a href="https://translate.google.kg/?hl=ru&tab=oT&authuser=0#ru/en/{{ category.translate('ru').description }}">{{ category.translate('ru').description }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% if app.user %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}


        {% endif %}

    </div>


{% endblock %}
